@media (max-width: 992px) {

    header {
        height: 6%;
        padding: 9px 9px 10px 0px;
    }

    .form-login {
        padding-top: 15%;
    }

    #footer {
        height: 19%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-list {
        padding-top: 0;
    }

}


@media (max-width: 562px) {

    .movement-marca p {
        display: none;
    }

    #hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .hero-img {
        width: 80%;
        height: 80%;
    }
    
}

@media (max-width: 362px) {

    #hero {
        display: flex;
        gap: 10px;
    }

    .hero-img {
        width: 60%;
        height: 60%;
    }

    .form-login {
        padding-top: 10%;
    }

    .form-login h1 {
        width: 80%;
    }

    #footer {
        height: 23%;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

}